/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em; /* tamanho da letra, base é 1*/
  background-color: var(--fundo-principal);
  color: var(--texto);
  
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex; /* para pode usar os alinhamentos*/
  justify-content: flex-end;/* coloca os itens ao fins do eixo horizontal*/
  align-content: center; /* alinha os itens centralizado dentro no eixo horizontal*/
}

nav#menu ul { /* usa o # para ID*/
  list-style: none; /* tira as bolinhas da lista UL */
  display: flex; /*organiza dentro da div os itens lado a lado */
  gap: 10px; /* espaço entre os itens*/
}

nav#menu a {
  text-decoration: none; /* tira sublinhado*/
  color: var(--destaque-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid; /* para usar o grid */
  grid-template-columns: auto 90vw auto; /* serao 3 colunas no grid, a 1 e a 3 sao automaticas, ou seja, o que sobra, ja que a 2 colocou 90% da tela*/
  gap: 20px;
  margin-top: 20px;

}
section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2; /* para ficar na coluna 2 do grid */
}

section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1/1;/* 1/1 é quadrado.. 16/9 deitado */
  object-fit: cover; /* usa para nao deitar espichada a imagem */
  overflow: hidden; /* se acaso sobrar imagem aos lados, ela permace escondida */
  border-radius: 50px;
  border: 5px solid var(--fundo-card); /* fez a borda igual ao fundo*/
  outline: 5px solid var(--destaque); /* essa é borda depois da borda, da o efeito de vao antes dessa linha */
  display: block; /* para centralizar a imagem e usar o margin auto */
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;/* encima 15 e a baixo 0*/
  font-size: 1.5em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a{
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover{
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
article h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;

}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;  
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

@media screen and (min-width: 768px){
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }
}